.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}

.hero__content {
  padding: 1rem;
  max-width: 512px;
}

.hero__title {
  font-size: 4rem;
  line-height: 1.1;
}
.hero__title--first {
  color: var(--color-black-soft);
}
.hero__title--second {
  color: var(--color-oasis-watermelon);
}

.hero__subtitle {
  font-size: 1.5rem;
}

.hero__images {
  padding: 1rem;
}
