.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  height: calc(100vh - var(--header-height));
}

.hero__content {
  max-width: 512px;
  padding-bottom: var(--header-height);
}

.hero__title {
  font-size: 5rem;
  line-height: 1.1;
}
.hero__title--first {
  color: var(--color-black-soft);
}
.hero__title--second {
  color: var(--color-oasis-watermelon);
}

.hero__subtitle {
  font-size: 1.5rem;
  font-weight: 100;
}

.hero__images {
  padding: 1rem;
}
