.flavors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flavors__tag {
  color: var(--color-oasis-pear);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.flavors__title {
  font-size: 2.5rem;
  line-height: 1.1;
}
.flavors__subtitle {
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.8;
}
.flavors__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 2rem;
}
