@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 64px;

  --color-oasis-orange: #f97015;
  --color-oasis-watermelon: #ff3b3f;
  --color-oasis-pear-pure: #99cc33;
  --color-oasis-coconut: #3bb5e6;
  --color-oasis-grape: #8e44ad;
  --color-oasis-pineapple: #f4d03f;

  --color-black-soft: #262626;
  --color-gray-soft: #737373;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--color-black-soft);
}

input,
textarea,
button,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}
