@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 64px;

  --color-orange-splash: #f97015;
  --color-watermelon-refresh: #ff3b3f;
  --color-pear-pure: #99cc33;
  --color-coconut-breeze: #3bb5e6;
  --color-grape-splash: #8e44ad;
  --color-pineapple-zest: #f4d03f;
  --color-black-soft: #262626;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input,
textarea,
button,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}
